@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --color-dark-cyan: hsl(185, 75%, 39%);
  --color-very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --color-dark-grayish-blue: hsl(227, 10%, 46%);
  --color-dark-gray: hsl(0, 0%, 59%);
}

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

main{
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-cyan);
    position: relative;
    overflow: hidden;
}

.circle{
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.top{
    top: 0;
    background-position: 0 100%;
    background-image: url(./images/bg-pattern-top.svg);
}

.bottom{
    top: 50%;
    background-position: 100% 0;
    background-image: url(./images/bg-pattern-bottom.svg);
}
@media screen and (max-width: 850px) {
    .circle{
        background-size: 200%;
    }
    .top{
        background-position: 140% 110%;
    }
    .bottom{
        background-position: -25% -20%;
    }
  }

/* Card */
.card {
  width: 350px;
  height: 380px;
  display: grid;
  grid-template-rows: 50% 50%;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
}

.bold {
  font-size: 18px;
  font-weight: 700;
}

/* Header */
.header {
  background-image: url(./images/bg-pattern-card.svg);
  background-position: center;
  background-size: contain;
  height: 75%;
}

.profile-image {
  width: 110px;
  height: 110px;
  border: 5px solid #fff;
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
}

.profile-image img {
  width: 100%;
  object-fit: contain;
}


/* Content */
.details {
  text-align: center;
  padding: 1.5rem;
}
.details .name {
  margin-bottom: 0.5rem;
}
.details .age {
  color: var(--color-dark-grayish-blue);
  font-weight: 400;
  margin-left: 0.5rem;
}
.details .location {
  color: var(--color-dark-grayish-blue);
  font-size: 14px;
}

.stats {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ccc;
  padding: 1.5rem;
  text-align: center;
}

.stats div {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stats div span {
  letter-spacing: 0.5px;
}

.stats div span:last-child {
  font-size: 12px;
  color: var(--color-dark-gray);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
