@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root{
  --color-newbie: #6ABECD;
  --color-junior:#AAD742;
}


*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1c1c28;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

main {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  background-color: #393953;
  border-radius: 15px;
  padding: 2rem;
}

.title {
  font-weight: 600;
  font-size: 2rem;
}

.list {
  list-style: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.list li a {
  display: inline-block;
  padding: 0.7rem 0;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.2s;
}

.list li a:hover {
  border-radius: 50px;
  transform: scale(1.05);
}

.list li a:active {
  transform: scale(0.98);
}

.link a {
  text-decoration: none;
  color: #6966ff;
  font-weight: 600;
}

.level{
  margin-bottom: 1rem;
}

.level span{
  display: inline-block;
  padding: 0.2rem;
  border-radius: 5px;
  cursor: default;
}

.newbie{
  background-color: var(--color-newbie);
  color: #fff;
}

.junior{
  background-color: var(--color-junior);
  color: #fff
}

@media screen and (max-width: 500px) {
  body {
    padding: 0 1rem;
  }
  main {
    padding: 1rem;
  }
  .title{
    font-size: 1.4rem;
  }
}
